.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #4CAF50;
    color: #ffffff;
}

.cabecalho {
    background-color: #FFD700;
    text-align: center;
    padding: 15px;
}

.titulo-principal {
    color: #1E90FF;
    font-weight: bold;
    font-size: 32px;
    margin: 0;
}

.subtitulo {
    color: #FF4500;
    margin: 0;
}

.conteudo > p {
    color: #E4005A;
    font-size: 42px;
}
